{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Choose level of words</h1>
  <form method="POST">
    <br />
      <input type="submit" name = "easy" class="btn btn-primary" value="Easy"></button>
      <input type="submit" name = "average" class="btn btn-primary" value="Average"></button>  
      <input type="submit" name = "hard" class="btn btn-primary" value="Hard"></button>
      <input type="submit" name = "all" class="btn btn-primary" value="All"></button>  
    </div>

  </form>
  {% endblock %}